body{
    margin: 0;
    padding:0;
    background-color:lightblue;
}

h1{
    padding:10px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

