body{
    margin: 0;
    padding:0;
    background-color:lightblue;
}

h1{
    padding:10px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


p{
    color: black;
    text-align: center;
    font-size: 18px;
    text-transform: lowercase;
}
img{
    height: 200px;
    width: 300px;
    margin: 0 auto;
}
#div1{

    text-align: center;
}